.container {
	background-color: yellowgreen;
	margin-top: 50px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form1 {
	margin-right: 20px;
	margin-left: 350px;

}

.form2 {
	margin-right: 20px;
	margin-left: 350px;

}

h2 {
	margin-top: 10px;
}

h4 {
	margin-left: 350px;
}

.buttons {
	margin-top: 10px;
	display: flex;
	gap: 350px;
	padding: 20px;
	justify-content: center;


}
